<h1 class="page-title"><%= t("profiles.password.title") %></h1>

<section class="panel">
  <%= form_with scope: :password_change, url: password_profile_path, method: :patch do |form| %>
    <% if @user.errors.any? %>
      <div class="panel error-box">
        <%= @user.errors.full_messages.join("；") %>
      </div>
    <% end %>

    <div class="report-form">
      <div class="field">
        <%= form.label :current_password, t("profiles.password.current_password") %>
        <%= form.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <div class="field">
        <%= form.label :password, t("profiles.password.new_password") %>
        <%= form.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= form.label :password_confirmation, t("profiles.password.password_confirmation") %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <%= form.submit t("profiles.password.submit"), class: "button" %>
      <%= link_to t("common.actions.cancel"), edit_profile_path, class: "button" %>
    </div>
  <% end %>
</section>
