<h1 class="page-title"><%= @sku.sku_code %></h1>

<section class="panel">
  <p><%= link_to t("erp.common.actions.edit"), erp_edit_sku_path(@sku, current_locale_params), class: "button" %></p>
  <dl class="definition-list">
    <dt><%= t("erp.common.chinese_name") %></dt>
    <dd><%= erp_value(@sku.product_name) %></dd>
    <dt><%= t("erp.common.russian_name") %></dt>
    <dd><%= erp_value(@sku.product_name_ru) %></dd>
    <dt><%= t("erp.common.category") %></dt>
    <dd><%= erp_value(@sku.sku_category&.name) %></dd>
    <dt><%= t("erp.skus.fields.color") %></dt>
    <dd><%= erp_value(@sku.color) %></dd>
    <dt><%= t("erp.skus.fields.spec") %></dt>
    <dd><%= erp_value(@sku.spec) %></dd>
    <dt><%= t("erp.skus.fields.size") %></dt>
    <dd><%= erp_value(@sku.size) %></dd>
    <dt><%= t("erp.skus.fields.weight_kg") %></dt>
    <dd><%= erp_value(@sku.weight_kg) %></dd>
    <dt><%= t("erp.skus.fields.volume_l") %></dt>
    <dd><%= erp_value(@sku.volume_l) %></dd>
    <dt><%= t("erp.skus.fields.model") %></dt>
    <dd><%= erp_value(@sku.model) %></dd>
    <dt><%= t("erp.skus.fields.quality_grade") %></dt>
    <dd><%= erp_value(@sku.quality_grade) %></dd>
    <dt><%= t("erp.skus.fields.features") %></dt>
    <dd><%= erp_value(@sku.features) %></dd>
    <dt><%= t("erp.common.owner") %></dt>
    <dd><%= erp_value(@sku.owner_name) %></dd>
    <dt><%= t("erp.common.status") %></dt>
    <dd><%= @sku.is_active ? t("erp.skus.statuses.active") : t("erp.skus.statuses.inactive") %></dd>
    <dt><%= t("erp.common.memo") %></dt>
    <dd><%= erp_value(@sku.memo) %></dd>
  </dl>
</section>
