<h1 class="page-title"><%= @batch.batch_code %></h1>

<section class="panel">
  <dl class="definition-list">
    <dt>SKU</dt>
    <dd><%= @batch.sku_code %></dd>
    <dt>商品名</dt>
    <dd><%= @batch.sku&.product_name %></dd>
    <dt>采购数量</dt>
    <dd><%= @batch.purchased_quantity %></dd>
    <dt>到货数量</dt>
    <dd><%= @batch.received_quantity %></dd>
    <dt>采购成本</dt>
    <dd><%= erp_value(@summary[:purchase_cost_cny]) %></dd>
    <dt>分摊费用</dt>
    <dd><%= erp_value(@summary[:allocated_cost_cny]) %></dd>
    <dt>单件批次成本</dt>
    <dd><%= erp_value(@summary[:unit_cost_cny]) %></dd>
  </dl>
</section>
